.introtext {
    color: #8f1212;
    padding: 8rem 4rem 6rem 4rem ;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
    cursor: default;
    text-align: center;
    z-index: 1;
    min-height: 100vh;
}

    .introtext h1 {
        color: #067126;
    }

    .introtext hr {
        border-bottom-color: #ffffff;
    }

    .introtext h1 {
        font-size: 5rem;
        line-height: 1;
    }

    .introtext p {
        font-size: 1.25rem;
        font-style: italic;
        margin-top: -0.25rem;
        text-align: center;
    }

    .introtext + #header {
        margin-top: -20rem;
    }

        .introtext + #header .logo {
            -moz-transform: translateY(2rem);
            -webkit-transform: translateY(2rem);
            -ms-transform: translateY(2rem);
            transform: translateY(2rem);
            opacity: 0;
            visibility: hidden;
        }

    .introtext.hidden {
        pointer-events: none;
        -moz-transform: translateY(2rem);
        -webkit-transform: translateY(2rem);
        -ms-transform: translateY(2rem);
        transform: translateY(2rem);
        -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, visibility 0.5s;
        -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, visibility 0.5s;
        -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, visibility 0.5s;
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
        opacity: 0;
        visibility: hidden;
    }

        .introtext.hidden + #header .logo {
            -moz-transform: translateY(0);
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }

    body.is-preload .introtext {
        -moz-transform: translateY(2rem);
        -webkit-transform: translateY(2rem);
        -ms-transform: translateY(2rem);
        transform: translateY(2rem);
        opacity: 0;
    }

        body.is-preload .introtext:not(.hidden) + #header + #nav {
            -moz-transform: translateY(4rem);
            -webkit-transform: translateY(4rem);
            -ms-transform: translateY(4rem);
            transform: translateY(4rem);
            opacity: 0;
        }

    @media screen and (max-width: 980px) {

        .introtext {
            padding: 4rem 4rem 2rem 4rem ;
            min-height: 90vh;
        }

            .introtext p br {
                display: none;
            }

            .introtext + #header {
                margin-top: -14rem;
            }

    }

    @media screen and (max-width: 736px) {

        .introtext {
            padding: 3rem 2rem 1rem 2rem ;
            min-height: 80vh;
        }

            .introtext h1 {
                font-size: 3.25rem;
                line-height: 1.1;
                margin-bottom: 1rem;
            }

            .introtext p {
                font-size: 1rem;
                margin-top: 0rem;
            }

    }